/* Contact Section Styles */
main{
    padding-top: 60px;
}

.contact {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

.contact h1, h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #caccce;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4CAF50;
}

.submit-btn {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #45a049;
}

/* Contact Details Section */
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.detail {
    text-align: center;
    margin-bottom: 1rem;
}

.detail h3 {
    font-size: 1.2rem;
    color: #4CAF50;
    margin-bottom: 0.5rem;
}

.detail p {
    font-size: 1rem;
    color: #555;
}

.detail a {
    color: #4CAF50;
    text-decoration: none;
}

.detail a:hover {
    text-decoration: underline;
}

