 
  /* #messageBtn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  
  #messageBtn:hover {
    background-color: #0056b3;
  } */
  
  /* Modal */
  /* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  } */
  
  /* .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  } */
  
  input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }

.messenger{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0.250rem;

    position: fixed;
    bottom: 2rem;
    right: 1rem;

    border: none;
    cursor: pointer;
}

.messenger i {
    color: #00a53f;
    font-size: 2.5rem;
    text-align: center;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: hidden; 
    background-color: rgba(0,0,0,0.4); 

    width: 100vw;
    height: 100vh;
}

.modal-content {
    background-color: #fefefe;
    margin: 20vh auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 

    border-radius: 0.8rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    height: 100px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  